@import './loader.scss';
@import './button.scss';

.logo {
   width: 100px;
}

.content {
   max-width: 1400px;
}

.bg-dark {
   background-color: #40474a;
}

.bg-acceptBox {
   background-color: #e9f1f9;
}

.border-green-left {
   border-left: 2px solid #1bb02d;
   padding-left: 10px;
}

.badge-success {
   background-color: #1bb02d;
   border-color: #1bb02d;
}

p {
   margin: 0 0 10px !important;
   color: black;
}

optgroup {
   font-weight: 700;
}

a.nav-link {
   color: darkgrey;
}

a.nav-link:hover {
   background: #282d2f !important;
   color: #fff !important;
}

a.nav-link.active {
   background: #282d2f !important;
   color: #fff !important;
}

.quotient-table {
   table-layout: fixed;
   width: 100%;
   max-width: 100%;

   td {
      padding: 10px;
      line-height: 1.3666;
      vertical-align: top;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
   }

   a:not(.btn) {
      color: #30353c;
      outline: none;
   }
}

.rowClick {
   cursor: pointer;

   tr:hover {
      td {
         background: #cdeed0;
         // border-left: 2px solid green;
         // padding-left: 8px;
      }
   }

   .mod-white td {
      background: white;
      border-top-color: 1px solid #ddd;
      border-bottom-color: 1px solid #ddd;
   }

   .mod-green td {
      background: #f2fdf3;
      border-top-color: 1px solid #ddd;
      border-bottom-color: 1px solid #ddd;
   }

   .mod-blue td {
      background: #f2f7fd;
      border-top-color: 1px solid #ddd;
      border-bottom-color: 1px solid #ddd;
   }

   .mod-red td {
      background: #fef7f6;
      border-top-color: #fce4df;
      border-bottom-color: #fce4df;
   }
}

.u-ellipsis {
   color: black;
   overflow: hidden;
   text-overflow: ellipsis;
}

.text-gray {
   color: #8c8c8c !important;
}

.stat-h1 {
   margin: 30px auto 20px;
   text-align: center;
}

.bg-custom {
   background: url("/assets/media/images/default-overlay.png") no-repeat top;
}

.image-preview-size {
   max-width: 200px;
   height: auto;
}

.animation {
   transition: all 0.5s ease-out;
}

.toast-center {
   width: 200px;
   padding-left: 50px;
}

.bg-light-gray {
   background-color: #f5f5f5;
}

.width-45 {
   width: 45px;
}

.width-70 {
   width: 70px;
}

.width-115 {
   width: 115px;
}

.width-130 {
   width: 130px;
}

.maxWidth-180 {
   max-width: 180px !important;
}

.maxWidth-200 {
   max-width: 200px !important;
}

.maxWidth-300 {
   max-width: 300px !important;
}

.maxWidth-400 {
   max-width: 400px !important;
}

.maxWidth-500 {
   max-width: 500px !important;
}

.maxWidth-550 {
   max-width: 550px !important;
}

.maxWidth-700 {
   max-width: 700px !important;
}

.maxWidth-800 {
   max-width: 800px !important;
}

.maxWidth-920 {
   max-width: 920px !important;
}

.border-thick {
   border-width: 4px;
}

.settings-title {
   margin-top: 37.5px;
   margin-bottom: 15px;
   padding-left: 10px;
   font-size: 130%;
   font-weight: 700;
}

.set-option {
   color: #333;
   display: table;
   width: 100%;
   padding: 10px;
   font-size: 100%;
   border-bottom: 1px solid #e7e7e7;
   border-top: 1px solid #e7e7e7;
   margin-top: -1px;
   background: #fff;

   img {
      width: 16px;
      margin-right: 6px;
   }
}

.set-option:active,
.set-option:hover {
   background: #fbfbfb;
   color: black;
   font-weight: 600;
}

.label {
   padding: 2px 8px;
   background-color: #bfbfbf;
   font-size: 11px;
   font-weight: 600;
   color: #fff;
   text-transform: uppercase;
   border-radius: 2px;
}

.label.label-on {
   background-color: #1bb02d;
}

.label.label-off {
   background-color: #bfbfbf;
}

.label.label-outline {
   border: 1px solid #1bb02d;
   color: #1bb02d;
   background: none;
}

.label.label-black {
   background-color: #333;
}

.label.label-success {
   background-color: #1bb02d;
}

.quoteItems {
   margin-bottom: 45px;

   .item_code {
      color: #8c8c8c;
      font-size: 13px;
      margin: 0px;
   }

   h3 {
      margin-top: 0px;
      margin-bottom: 10px;
   }
}

.tItem {
   margin-top: -1px;
   display: block;
   float: left;
   width: 100%;
   border-top: 1px solid #dadbdc;
   border-bottom: 1px solid #dadbdc;
}

.tItem-desc {
   display: block;
   float: left;
   width: 100%;
   padding: 20px 20px 10px;
}

.tItem-desc-table {
   display: table;
   width: 100%;
}

.tItem-desc-option {
   display: table-cell;
   vertical-align: top;
   width: 1%;
   text-align: center;
   font-size: 118%;
   line-height: 1.3;
   padding-right: 15px;
}

.tItem-desc-cell {
   display: table-cell;
}

.tItem-price {
   display: block;
   float: left;
   width: 100%;
   text-align: right;
   padding: 0 20px 15px 15px;

   p {
      margin-bottom: 0px !important;
   }
}

.tItem-text {
   margin: 30px 20px;
}

.vSubTotal {
   .tItem-desc {
      text-align: right;
      padding: 15px 20px 5px 15px;
      width: 55%;
   }
}

.quote-edit-total-wrap {
   margin-bottom: 10px;
}

.quoteFile-set {
   display: flex;
}

.quoteFile-image {
   padding-right: 5px;

   img {
      margin-top: 0;
      vertical-align: middle;
      max-width: 250px;
      max-height: 100px;
   }
}

.total-desc {
   color: black;
   text-align: right;
   width: 60% !important;
}

.total-price {
   color: black;
   width: 40% !important;
   background: #f6f6f6;
}

.total-price.mod-sub {
   background: #fff;
   float: right;
   padding: 15px;
   color: #8c8c8c;
   border: 1px solid #dadbdc;
}

.hasNoTerm .total-price {
   background-color: #e9f1f9;
}

.itemPartEditableWrap input {
   max-width: 70px;
   text-align: right;
   display: inline-block;
}

.quote-text-sm {
   color: #707070;
   font-size: 88%;
   line-height: 1.44;
}

.option-text {
   transition: opacity 0.4s ease;
}

.isSelected .option-text {
   opacity: 0;
}

.quoteTotal-gDesc {
   font-weight: 700;
   margin-top: 3px;
   display: inline-block;
}

.quoteTotal-gDesc,
.quoteTotal-gTotal {
   font-weight: bold;
}

.discuss-wrap {
   background: #fff;
   padding-bottom: 30px;
}

.discuss-button-wrap {
   padding: 0 20px;
}

.discuss-row {
   position: relative;
   padding: 0 20px;
   margin: 20px 0;
}

.discuss-form {
   background: #fff;
   margin-bottom: 40px;
}

.completer-ui {
   -webkit-user-select: none;
   user-select: none;
   margin: 0;
   box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
   border: 1px solid rgba(0, 0, 0, 0.1);
   background-color: #f5f5f5;
   position: absolute;
   z-index: 1100;
   list-style: none;
   text-align: left;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   padding: 0;
   min-width: 230px;
   min-height: 20px;
   width: 100%;

   li {
      color: #404040;
      margin: 0;
      padding: 8px 15px 8px 10px;
      display: block;
      cursor: pointer;
      line-height: 17px;
   }

   li:hover,
   li:active {
      color: #fff !important;
      background-color: #51a5e3;
   }
}

.toolWrapper {
   position: absolute;
}

.bg-disabled {
   background-color: #e9ecef;
   opacity: 1;
   box-shadow: none;
   cursor: default;
}

.u-preview-shadow {
   color: black;
   border: 1px solid #ddd;
   box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
}

.u-highlight-tag {
   padding: 0 5px;
   display: inline-block;
   background: #f2f7fa;
   box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.07);
   border-radius: 2px;
   color: #777;
}

.emailPreviewSubject {
   font-weight: 700;
   font-size: 110%;
}

.emailPreviewMessage,
.emailPreviewSubject {
   padding-bottom: 20px;
   color: #707070;
}

.emailWording-small {
   font-size: 12px;
   display: block;
   color: #999;
}

.emailWording-subject {
   margin-bottom: 6px;
   font-weight: 700;
   padding: 15px 20px;
}

.emailWording-body {
   border: 1px solid #ccc;
   background: #fff;
   margin-bottom: 20px;
   margin-top: 15px;
}

.emailWording-nonEdit {
   padding: 20px 23px;
   box-shadow: 0 0 2px -1px rgba(0, 0, 0, 0.2);
   color: #404040;
   margin: 0;
}

.sendEmail-part1,
.sendEmail-part2 {
   border-color: #fff;
   padding: 20px;
}

.sendEmail-part1 {
   border-bottom: 1px dashed #ddd;
   padding-bottom: 20px;
}

.sendEmail-part2 {
   border-top: 1px dashed #ddd;
}

.textarea {
   display: block;
   width: 100%;
   overflow: hidden;
   resize: both;
   min-height: 40px;
   line-height: 20px;
}

.textarea[contenteditable]:empty::before {
   content: "Placeholder still possible";
   color: gray;
}

.contact-example-bord {
   border: 1px solid #ccc;
   border-right: 0;
   border-left: 0;
   float: left;
   width: 100%;
   transition: margin-top 0.5s ease;
   margin-top: 20px;
}

.contact-example,
.contact-example * {
   transition: all 1s ease;
}

.contact-example {
   float: left;
   padding: 0 0 10px;
   width: 100%;

   .inner {
      background: #fff;
      padding: 20px 15px 5px;
      width: 235px;
      margin-left: auto;
      margin-right: auto;
   }

   .example-left {
      float: left;
      width: 205px;
   }

   .example-right {
      float: left;
      width: 0;
   }

   .example-block {
      display: block;
      float: left;
      width: 100%;
      padding: 5px 10px 10px;
   }

   .example-block-logo {
      padding-left: 0;
      padding-right: 0;
   }

   .example-hide {
      width: 0;
      opacity: 0;
      padding: 0;
      margin: 0;

      .example-contact {
         width: 100%;
         height: 0;
         transform: scale(0);
      }
   }

   .example-title {
      font-size: 15px;
      color: #555;
      display: block;
      width: auto;
      margin-bottom: 0;
      margin-top: 5px;
      padding-bottom: 5px;
   }

   .example-lines-wrap {
      transition: none;
   }

   .example-lines {
      width: 73%;
      display: block;
      float: left;
   }

   .example-lines-bg {
      width: 27%;
      display: block;
      float: left;
   }

   .example-lines-right {
      .example-lines {
         width: 67%;
      }

      .example-lines-bg {
         width: 33%;
      }
   }

   .example-accept-block {
      padding: 15px;
      margin-top: 10px;
      margin-bottom: 10px;
      border-radius: 3px;
   }

   .example-tick {
      opacity: 0.15;
   }

   .example-tick {
      width: 100%;
      margin-bottom: 10px;
   }

   .example-accept {
      font-size: 9px;
      color: #fff;
      padding: 3px;
      width: 42px;
      display: block;
      background: grey;
      border-radius: 2px;
      text-align: center;
   }

   .example-logo {
      max-width: 60px;
      max-height: 60px;
      display: block;
   }

   .example-logo-right {
      width: 100%;
   }
}

.example-isRight {
   .example-left {
      width: 145px;
   }

   .example-right {
      width: 60px;
   }
}

.isHidden {
   display: none;
}

.appear-check-3-img {
   width: 100%;
   margin-top: 5px;
   display: block;
   border: 1px solid #ccc;
}

.appear-check-3 {
   width: 33%;
   display: block;
   float: left;
   padding-left: 10px;
   padding-right: 6px;

   input {
      margin-right: 3px;
   }
}

@media (max-width: 600px) {
   .toolWrapper {
      position: relative;
   }
}

@media (min-width: 480px) {
   .total-desc {
      width: 65% !important;
   }

   .total-price {
      width: 35% !important;
   }
}

@media (min-width: 768px) {
   .tItem {
      display: table;
      float: none;
   }

   .tItem.isSelected {
      background: #f2f7fa;
   }

   .tItem.isSelected:not(.hasTerm) {
      background: #e9f1f9;
   }

   .tItem-desc {
      display: table-cell;
      vertical-align: top;
      float: none;
      width: 80%;
      background: #fff;
   }

   .vSubTotal .tItem-desc {
      width: 80%;
   }

   .tItem-price {
      display: table-cell;
      vertical-align: top;
      float: none;
      width: 20%;
      padding: 15px 20px 15px 15px;
      border-left: 1px solid #dadbdc;
   }

   .tItem-text {
      margin-right: 30px;
   }

   .total-desc {
      width: 80% !important;
   }

   .total-price {
      width: 20% !important;
   }

   .quoteFile-image img {
      max-width: 300px;
      max-height: 125px;
   }
}

.clear {
   clear: both;
   display: block;
   overflow: hidden;
   visibility: hidden;
   width: 0;
   height: 0;
}

.rowClick-disable {
   cursor: default;

   td {
      color: #7c7c7c;
      background: #f7f7f7;
   }
}

.team-list {
   padding-left: 7px;
}

.avatar-54 {
   width: 54px;
   height: 54px;
}

.validWarning:not(:focus) {
   box-shadow: 0 0 0 2px #d1e59f;
   border-color: transparent;
   background: rgba(209, 229, 159, .2);
}

.starterTips {
   margin-bottom: 60px;
}

.starterTips-title {
   margin-bottom: 15px;
}

.starterTips ul {
   list-style: none;
   padding-left: 0;
   margin-bottom: 10px;
}

.starterTips .starterTips-done {
   color: #707070;
}

.starterTips li {
   padding-bottom: 6px;
   font-weight: 400;
}

.offlineBanner {
   border-bottom: 1px solid #dadbdc;
   background: #f5f5f5;
   padding-bottom: 15px;
}

.container {
   max-width: 1300px;
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
}

.u-section {
   margin-bottom: 30px !important;
}

.u-pad-top4 {
   padding-top: 90px;
}

.u-larger {
   font-size: 107%;
}

.smallGreyText {
   color: #8c8c8c;
   font-size: 13px;
}

.alertBar {
   .container {
      padding-top: 30px;
      padding-bottom: 15px;
   }
}

.alertBar-prompt {
   background-color: white;
   position: relative;
   box-shadow: 0 5px 10px 1px rgba(0, 0, 0, .05);

   .container {
      padding-top: 36px;
      padding-bottom: 39px;
   }
}

.alertBar-error,
.alertBar-general {
   background: #d1e59f;
   color: #3c763d;
}

.alertBar-ul {
   margin: 0 0 10px;
   padding: 0;
   list-style: none;
}

.pop_hidden {
   display: none;
}

.pop_default.isHidden {
   display: none !important;
}

.pop_trigger {
   border-bottom: 1px dotted #999;
   cursor: pointer;
}

.icon-wrapper {
   margin-left: 8px;
   margin-right: 8px;
}

@media (min-width: 992px) {
   .container {
      padding-left: 30px;
      padding-right: 30px;
   }

   .u-larger {
      font-size: 130%;
   }
}

.stripeWrapper {
   max-width: 500px;
   // display: flex;
   flex-direction: column;
   height: 100vh;
}

.stripeElement {
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-bottom: 40%;

   label {
      display: block;
      color: #6b7c93;
      font-weight: 500;
      letter-spacing: 0.025em;
      margin-bottom: 0px;
   }

   button:hover {
      color: #fff;
      cursor: pointer;
      background-color: #7795f8;
      transform: translateY(-1px);
      box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
   }

   input,
   .StripeElement {
      display: block;
      margin: 10px 0 20px 0;
      max-width: 500px;
      padding: 10px 14px;
      font-size: 1em;
      font-family: "Source Code Pro", monospace;
      box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px,
         rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
      border: 0;
      outline: 0;
      border-radius: 4px;
      background: white;
   }

   input::placeholder {
      color: #aab7c4;
   }

   input:focus,
   .StripeElement--focus {
      box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px,
         rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
      -webkit-transition: all 150ms ease;
      transition: all 150ms ease;
   }

   .StripeElement.IdealBankElement,
   .StripeElement.FpxBankElement,
   .StripeElement.PaymentRequestButton {
      padding: 0;
   }

   .StripeElement.PaymentRequestButton {
      height: 40px;
   }

}

.import-info-ul {
   font-weight: 700;
   margin-bottom: 6px;
   line-height: 1.7;

   ul li {
      font-weight: 400;
      font-size: 110%;
   }
}

.import-ul {
   margin: 0;
   list-style: none;
}

.u-bold {
   font-weight: 700;
}

.bg-app {
   background-color: #f9f9f9;
}

.help-block {
   display: block;
   margin-top: 5px;
   max-width: 600px;
   color: #707070;
   font-size: 13px;
}

.h1StartWelcome {
   padding: 90px 20px;
   margin-bottom: 75px;
   text-align: center;
   background: #f5f5f5;
   box-shadow: inset 0 -5px 20px rgba(0, 0, 0, .06);
}